services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: jwt-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGO_URI: "${MONGO_URI}"
    volumes:
      - ./backend:/app
  db:
    image: mongo:latest
    container_name: jwt-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: jwt-frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app

volumes:
  mongo-data: