version: "3.9"

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: jwt-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGO_URI: "${MONGO_URI}"
    volumes:
      - ./backend:/app