services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: jwt-backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: jwt-frontend
    restart: always
    ports:
      - "3000:3000"

volumes:
  mongo-data: